main {
	width: 90%;
	background: rgba(0,0,0,.08);
	min-height: 50px;
	margin: auto;
	display: block;
}

body {
	margin-top: 0;
}

#spacer {
	height: 15px;
	width: 100%;
}

nav {
	background: #ff6600;
	width: 100%;
	height: 40px;
	margin-top: 0;
}

nav img {
	display: block;
	float: left;
}

h1#logo a {
	text-decoration: none;
	color: black;
}

h1#logo {
	margin: 0 0 0 25px;
	display: inline;
	float: left;
}

ul#nav_bar {
	margin: 10px 0 0 0;
	display: inline;
	float: left;
}

nav li {
	display: block;
	float: left;
}

#login {
	margin: 10px 0 0 0;
	display: block;
	float: right;
}

nav li a {
	text-decoration: none;
	color: black;
	margin: 0 10px 0 10px;
}

nav li a:hover {
	text-decoration: none;
	color: #333;
}

.logout {
	font-weight: bold;
	font-size: .9em;
}

#username {
	font-size: .9em;
}

#spacer {
	height: 30px;
}


#form_section {
	width: 100%
}

#load_more {
	width: 200px;
	display: block;
	margin: auto;
}

#load_button {
	margin: 20px 0 0;
	width: 100%;
}









