.center_section {
	width: 96%;
	display: block;
	margin: auto;
	margin-top: 25px;
}

.post_section {
	width: 100%;
	background: rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.05);
	display: inline-block;
}

.comment_section {
	display: block;
	clear: both;
}

.left_section {
	display: inline-block;
	float: left;
	margin: 25px;
}

#upload_h2 {
	margin: 25px 0 0 25px;
}

#add_blog_post {
	margin: 25px;
}

.comment_form {
	margin-bottom: 25px;
	margin-left: 25px;
	width: 300px;
}

form.add_comment {
	margin: 0 0 25px 25px;
}

a.post_link {
	text-decoration: none;
	color: black;
}

a.post_link:hover {
	color: gray;
}

.right_section p {
	margin: 0 25px 30px 0;
	line-height: 1.7em;
}



