<form id="login_form" action='/login' name="login" method="POST">
  <p id="username_text">email:</p>
  <input type="text" name="username"/>
  <p>Password:</p>
  <input type="text" name="password"/>
  <input type="submit" value="login"/>
</form>
