<h2 id="upload_h2">Upload A Blog Post</h2>

<form id="add_blog_post" action="/" method="post">
	<p>Title:</p>
	<input class="comment_form" name="title_text" type="text" <%unless current_user%> disabled value="login to post" <%end%>>
	<p>Content:</p>
	<input class="comment_form" name="content_text" type="text" <%unless current_user%> disabled value="login to post" <%end%>>
	<p>Image url:</p>
	<input class="comment_form" name="img_url" type="text" <%unless current_user%> disabled value="login to post" <%end%>>
	<br>
	<br>
	<input type="submit" value="submit">
</form>
